body {
}

 html {
  background: url(Coverphoto.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.enter{
text-align: center;
    top: 135px;
    position: relative;
}
