/* Presentational style rules only
 * Not required
 */


html, body, .container {
  height: 100%;
}

/* Reset */
html, body, h1, a, div, section {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;

}


.map {
  height: 50%;


}


p{
padding-left: 2rem;
padding-right: 30rem;
}




html{
  font-size: 16px;
}
/* Basic */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav li {
  font-family: 'Oswald', sans-serif;
  color: fff;
  font-size: 0.5rem;
  line-height: 4rem;
  height: 40px;
}


nav ul li a {
  text-decoration:none;
  padding:5px 0;
  width:100px;
  color:#eee;
  float:left;
  text-align:center;
  border-left:1px solid #fff;
}

nav {
  text-decoration: none;
  color: #fff;
  display: block;
  /*transition: .3s background-color;*/
  background-color: #363b3e;
}


@media screen and (min-width: 600px) {
  nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  nav li {
    display: inline-block;
    margin-right: -4px;
}

li {
    float: left;
    width: 25%;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    color: #979c9f;
}

img {
    width: 100%;
    height: auto;
}






h1 {
  color: #7d7f80;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 100;
  margin-top: 1rem;
}

h2 {
  color: #7d7f80;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  margin-top: 2rem;
}


h3 {
  color: #7d7f80;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300rem;
  margin-top: 2rem;
  padding-left: 3rem;

}

h4{
  color: #7d7f80;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 100;
  margin-top: 1rem;
  padding-left: 3rem;
}


p {
  color: #7d7f80;
  font-size: 1rem;
  font-weight: 100;
   padding-left: 3rem;
}



h5 {
  color: #7d7f80;
  font-size: 1rem;
  font-weight: 100;
   padding-left: 3rem;
  padding-bottom: 3rem;
}



/*
a {
  color: #ffffff;
}*/

p {
  margin: 0 0 15px 0;
}

strong {
  font-weight: 700;
}

blockquote {
  display: block;
  max-width: 480px;
  margin: 15px auto;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #e1e1e1;
  font-family: "Kotta One", serif;
  font-size: 22px;
  line-height: 28px;
}

blockquote cite {
  display: block;
  font: 18px/23px "Cantarell", sans-serif;
  font-size: 16px;
  margin-top: 16px;
  color: #cccccc;
  text-transform: uppercase;
}

/* Layout */



  .inner {
    position: relative;
    margin: 0 auto;
    text-align: center;
  }



.container {
  display: table;
  padding-top: 80px;
  width: 100%;
}

.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Special */
.sub-title {
  margin: 50px auto;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 6px 10px;
  color: #cafaea;
  border: 1px solid #cafaea;
  border-radius: 3px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

#more-content {
  display: none;
}

/* Media Queries */
@media only screen and (max-width: 340px) {

  .container {
    position: relative;
    display: block;
    float: left;
    vertical-align: baseline;
    margin: 0 auto;
    padding: 80px 0 0 0;
  }

  #more-content {
    float: left;
    margin-right: 10px;

  }

  body h1 {
    font-size: 18px;
    line-height: 23px;
  }

  .content, blockquote {
    display: inline;
    margin: 0 auto;
    padding-top: 80px;
    vertical-align: baseline;
  }

  blockquote {
    width: 150px;
    margin: 15px auto;
    font-size: 16px;
    line-height: 21px;
    background-color: transparent;
  }

  blockquote cite {
    font-size: 14px;
    line-height: 19px;
  }

  .sub-title {
    font-size: 14px;
    line-height: 21px;
  }

  .button, p {
    max-width: 150px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 20px;
  }

  html, body, .container {
    height: auto;
  }

body {
  /* Location of the image */
  background-image: url(coverphoto.jpg);

  /* Image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;

  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;

  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(images/background-photo-mobile-devices.jpg);
  }
  }



container {
  width: 538px;
}
section,
aside {
  margin: 10px;
}
section {
  float: left;
  width: 340px;
}
aside {
  float: right;
  width: 158px;







}
